* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#color_selector {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.color_selector {
    width: 1280px;
    min-height: 720px;

    background-color: #D9D9D9;
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: 6px 6px 4px 0 rgba(0, 0, 0, 0.2);
}

.header_1 {
    font-size: 2rem;
    text-align: center;
}

.color_changer_body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;

    margin-top: 1.5rem;
}

.color_changer_body__item {

}

.header_2 {
    text-align: center;
    font-size: 1.5rem;
}

.input_color {
    display: block;
    position: relative;
    font-size: 1.2rem;
    padding: 0 0.5rem;

    width: 120px;
    height: 60px;

    border-radius: 15px;

    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.2);
    border: none;
}

.input_color:focus {
    outline: none;
}

.color_changer_body__item {
    display: grid;
    grid-template-columns: 1fr;

    row-gap: 1rem;
}
